.mdl-spinner{
    width:500px;
    height:500px;
}

#details-text{
    display:inline-block;
    padding-left:5em;
}

a{
    text-decoration: none;
}

.card-label{
    background-color:white;
    opacity:0.6;
}