<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie-edge" />
    <title>Car Deals</title>
    <meta name="description" content="The Best Car Deals on the Web!" />
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="lib/material-design-lite/material.min.css" rel="stylesheet" />
    <link href="lib/jquery-ui/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body ng-app="carDeals">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <div class="mdl-layout__header">
            <header class="mdl-layout__header-row">
                <span class="mdl-layout-title">Car Deals</span>
                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation">
                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--accent mdl-js-ripple-effect" onclick="location.reload()">
                        <i class="fa fa-refresh"></i>
                    </button>
                </nav>
            </header>
        </div>

        <main class="mdl-layout__content" ng-controller="carsController as model">

            <div class="mdl-grid">
                <a href="#"
                   class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--6dp "
                   style="background-image:url('{{car.image}}')"
                   ng-repeat="car in model.cars"
                   ng-click="openDialog(car)">
                    <div class="card-label">
                        <div class="mdl-card__title">
                            <span class="mdl-card__title-text">{{car.brand}} {{car.model}} {{car.year}}</span>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <span class="mdl-card__subtitle-text">${{car.price}}</span>
                        </div>
                    </div>
                </a>
            </div>

            <div id="details" title="Car Details" class="ui-dialog" ng-show="model.detailsOpen">
                <img id="image" />
                <div id="details-text">
                    <label>Brand:</label> <p id="brand"></p>
                    <br />
                    <label>Model:</label> <p id="model"></p>
                    <br />
                    <label>Year:</label> <p id="year"></p>
                </div>
            </div>

            <div ng-show="model.isLoading" class="mdl-typography--text-center">
                <div class="mdl-spinner mdl-js-spinner is-active"></div>
            </div>

            <div class="mdl-typography--text-center">
                <button class="mdl-button mdl-js-button mdl-button--raised  mdl-button--colored mdl-js-ripple-effect"
                        ng-click="loadMoreCars()">
                    Show More
                </button>
            </div>
        </main>
    </div>

    <script src="lib/material-design-lite/material.min.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="lib/localforage/dist/localforage.min.js"></script>
    <script src="lib/angular-localforage/dist/angular-localForage.min.js"></script>
    <script src="js/ng-app.js"></script>
    <script src="js/jq-app.js"></script>
</body>
</html>